<launch>
    <!-- Launches good configuration for Experiment 1 -->

    <!-- Launch the fetchhardware_node -->
    <!-- TODO remapping publish joint state to wrong topic -->
    <node name="fetchhardware_node" pkg="csc7135_pkg2" type="fetchhardware_node" output="screen" />
    
    <!-- Define parameter(s) -->
    <param name="target_obj_" value="Red"/>

    <!-- Launch the fetchcontroller_node -->
    <remap from="/fetch/target_obj" to="/fetch/targets" />
    <node name="fetchcontroller_node" pkg="csc7135_pkg2" type="fetchcontroller_node" output="screen" />

</launch>